{
  "env": {
    "umd": {
      "plugins": [
        ["transform-es2015-modules-umd", {
          "globals": {
            "Entity": "NymphEntity",
            "PubSub": "NymphPubSub"
          },
          "exactGlobals": true
        }]
      ]
    },
    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    }
  },
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
        "globals": ["Error", "Array"]
    }]
  ]
}
